#orders th, #orders td {
    text-align: center;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 5px;
}
.btn a {
    color:#FFF;
}
.btn a:hover {
    color:#f2dede;
    text-decoration: none;
}
.btn a:focus {
    outline: none;
    text-decoration: none;
}
.not-yet {
    color:#FFF;
    background-color: #F27474;
    font-weight: bold;
}
.in-transition {
    color:#FFF;
    background-color: #F8D486;
    font-weight: bold;
}
.done {
    color:#FFF;
    background-color: #5cb85c;
    font-weight: bold;
}

ship-options, .selected-option {
    margin-top:15px;
}