.col-md-4,.col-sm-4 {
    padding: 15px;
}
.navbar-header {
    text-transform: uppercase;
    font-family: 'Fascinate Inline', cursive;
}
.nav {
    font-family: 'Cabin Sketch', cursive;
    font-size:1.5em;
    
}
.navbar-purple {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-purple a {
    color:#000;
}
.navbar-purple .navbar-nav>li>a:hover {
    background-color: rgba(128,5,109,0.3);
    color:white;
}
.jumbotron {
    background: url('images/bg_jumpotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
}
.jumbotron h1 {
    font-family: 'Cabin Sketch', cursive;
}
.catalog > div {
    text-align: center;
}
.catalog img {
    width:200px;
    height:200px;
    margin-bottom: 10px;
}
.display-box {
    padding: 35px;
    border-radius: 5px;
    background-color: rgba(128,5,109,0.2);
}
.display-box.added {
    background-color: rgba(218, 247, 166, 0.5);
}
.product-name {
    font-family: 'Tillana', cursive;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 200px;
    display: block;
}
.product-price {
    font-family: 'Tillana', cursive;
    display: block;
    float:left;
}
h3 {
    font-family: 'Fascinate Inline', cursive;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select {
    width: 100px !important;
}
.add-to-cart {
    background-color: rgba(255, 195, 0, 0.5);
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.add-to-cart.added {
    font-family: 'Tillana', cursive;
    background-color: rgba(218, 247, 166, 0.1);
    color:rgb(128, 5, 109);
}