.col-md-4,.col-sm-4 {
    padding: 15px;
}
.navbar-header {
    text-transform: uppercase;
    font-family: 'Fascinate Inline', cursive;
}
.nav {
    font-family: 'Cabin Sketch', cursive;
    font-size:1.5em;
    
}
.navbar-purple {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-purple a {
    color:#000;
}
.navbar-purple .navbar-nav>li>a:hover {
    background-color: rgba(128,5,109,0.3);
    color:white;
}
.jumbotron {
    background: url('images/bg_jumpotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
}
.jumbotron h1 {
    font-family: 'Cabin Sketch', cursive;
}
.catalog > div {
    text-align: center;
}
.catalog img {
    width:200px;
    height:200px;
    margin-bottom: 10px;
}
.display-box {
    padding: 35px;
    background-color: rgba(128,5,109,0.2);
}
.product-name {
    font-family: 'Tillana', cursive;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
}
h3 {
    font-family: 'Fascinate Inline', cursive;
}